<h3>Productos en su carrito:</h3>

{{#each cartProducts}}
    <ul>
        <h2>{{this.product.title}}:</h2>
        <li><p>Precio: ${{this.product.price}}</p></li>
        <li><p>Cantidad: {{quantity}}</p></li>
    </ul>
{{/each}}