<div>
    <div>
        <h1>Productos sin actualizar</h1>
    </div>

    <div>
        <ul>
            {{#each product}}
            <li>
                <p>Title: {{title}}</p>
                <p>Price: ${{price}}</p>
                <p>Description: {{description}}</p>
                <p>Stock: {{stock}}</p>
            </li>
            {{/each}}
        </ul>
    </div>

</div>