<div>
    <h1>Productos:</h1>

    <ul>
        {{#each product}}
        <li>
            <p><b>{{title}}</b></p>
            <p>Precio: ${{price}}</p>
            <p>Descripción: {{description}}</p>
            <p>Stock: {{stock}}</p>
        </li>
        {{/each}}
    </ul>

</div>