<div>
    <div>
        <h1>P치gina Home</h1>
    </div>

    <div>
        <p>
            "P치gina web basada en el aprendizaje de backend, utilizando DB noSQL (mongo)"
        </p>
    </div>

    <div>
        <p>
            Lo primero, antes que nada, tendr치 que registrarse o iniciar sesi칩n (en caso de que ya tenga una cuenta).
        </p>
    </div>
</div>