<h1>pagina perfil</h1>

<h2>Sea bienvenido "{{userInfo.user}}", su rol en la nuestra pagina es de "{{userInfo.rol}}"</h2>


<div>
    <form method="post" action="/api/sessions/logout">
        <button type="submit">logOut</button>
    </form>
</div>