<h3> Gracias por Comprar en nuestra app </h3>

{{#each ticketCreated}}

    <h5> el monto final de su compra fue de: $ {{newTicket.amount}}</h5>

    <h5> el codigo de su compra es: {{newTicket.code}} </h5>

{{/each}}
<p> dentro de poco, su pedido llegara a su domicilio </p>
